{% extends '@CeradUser/Layout.html.twig' %}

{% block content %}
   
<h3>Reset Zayso Password</h3>

{% include '@CeradUser/UserPassword/ResetRequest/ResetRequestForm.html.twig' %}
{% include '@CeradUser/UserPassword/ResetRequest/ResetRequestHelp.html.twig' %}

{% endblock %}{# end content block #}
