{% extends '@CeradUser/Layout.html.twig' %}

{% block content %}
   
<h3>Reset Zayso Password</h3>

{% include '@CeradUser/UserPassword/ResetRequested/ResetRequestedForm.html.twig' %}
{% include '@CeradUser/UserPassword/ResetRequested/ResetRequestedHelp.html.twig' %}

{% endblock %}{# end content block #}
